@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.responsive-iframe {
  width: 560px;
  height: 315px;
}

@media (max-width: 700px) {
  .responsive-iframe {
    width: 480px;
    height: 270px;
  }
}

@media (max-width: 530px) {
  .responsive-iframe {
    width: 420px;
    height: 236.25px;
  }
}

@media (max-width: 480px) {
  .responsive-iframe {
    width: 340px;
    height: 200px;
  }
}

/* Width of the entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Width of the horizontal scrollbar */
::-webkit-scrollbar {
  height: 12px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Background of the scrollbar except handle */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

/* Add a shadow when scrollbar is pressed */
::-webkit-scrollbar-thumb:active {
  background: #444;
}

/* styles.css */
.half-gradient::after {
  content: "";
  display: block;
  height: 50%; /* This controls the height of the gradient effect */
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0; /* Position the gradient at the bottom; use `top: 0;` to position it at the top */
  z-index: 0;
  transform: skewY(
    -10deg
  ); /* This skews the pseudo-element, creating an angled effect */
  transform-origin: bottom left; /* This defines the origin point of the transform */
}

.relative {
  position: relative;
}

.custom-top-shadow {
  box-shadow: 0 -10px 15px -3px rgba(0, 0, 0, 0.2),
    0 -4px 6px -4px rgba(0, 0, 0, 0.1);
}
